/* Your styles go here */
@import "~bootstrap/dist/css/bootstrap.min.css";
.jumbotron{
    background-image: url(https://images.unsplash.com/photo-1594357570719-83d9e6b17efc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8dXRhaHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60);
    background-position: 0 - 500px 0;
    background-size: cover;
}